body {
    margin: 0px;
}

#head {
    height: 200px;
    width: 200px;
    margin-left: -50px;
    
}

.head {
    margin-top: -50px;
}

#tn {
    font-size: 13px;
    color: white;
}

.whole {
    background-color: black;
    padding: 10px;
    
}
#news {
    color: white;
    margin-top: -70px;
    font-size: 30px;
    padding-bottom: 15px;
}

#name {
    color: white;
    font-size: 10px;
}

#date {
    color: #b3b3cc;
    font-size: 10px;
}

#us {
    font-style: italic;
}

#body {
    padding: 15px;
    font-size: 23px;
}

#body2 {
    font-size: 15px;
    padding: 15px;
}

#photo {
    height: 250px;
    width: 360px;
    margin-top: -30px;
}

#con {
    height: 3em;
    width: 200px;
    color: white;
    background-color: #3399ff;
    border: 1px;
    border-radius: 10px;
}
.con {
    text-align: center;
    margin-bottom: 30px;
}

.last {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

ul li {
    padding: 5px;
}

#top {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
}


/*facebook*/

.close {
	color: red;
}

#you {
    color: red;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: -10px;
}

img {
    height: 130px;
    width: 130px;
}

#logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -50px;
}

.data {
    margin-top: 0px;
    width: 335px;
    height: 2.8em;
    margin: 3px;
    border-radius: 3px;
    padding-left: 10px;
    background-color: aliceblue;
    font-size: 15px;
    border: 1px;
    margin-left: 10px;
}

.data:hover {
    background-color: #b3d9ff;
    border: #b3d9ff;
    box-shadow: #b3d9ff;
}

#data {
    height: 3.5em;
    width: 335px;
    margin-left: 3px;
    background-color: #1a75ff;
    color: white;
    border-radius: 3px;
    margin: 2px;
    border: 1px;
    margin-left: 10px;
    
}
#or {
    text-align: center;
    transform: translateY(-20px);
}

#left{
    width: 145px;
    margin-left: 5px; 
}

#right {
    width: 145px;
    margin-right: 5px;
    transform: translateY(-36px);
}

#for {
    text-align: center;
    color: #4d94ff;
}

#create {
    text-align: center;
    background-color: green;
    font-size: 15px;
    padding: 10px;
    color: white;
    border-radius: 3px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: -20px;
}

.lang {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    font-size: 14px;
    color: #80aaff;
}
li {
    list-style: none;
}

#item1 {
    margin-left: -15px;
    text-align: center;
}

#item2 {
    padding-right: 10px;
    text-align: center;
}
#plus {
    border: solid;
}
#eng {
    color: black;
}
