{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <title>Top Secrets</title>
	<link rel="stylesheet" href="{% static 'secrets.css' %}">
    </head>
    <body>
     <div class="whole">
          <div id="tn"><strong>TN App &emsp;|&emsp; Show Schedule &emsp;|&emsp; TN Newsletter</strong></div>
            
	  <div class="head">{% load static %}<img id="head" src="{% static "top/images/head.png" %}"></div>
         
         <div id="news"> Joe Biden imposes new law that will affect U.S Citizens, Top 3 secrets you should know</div>
         <hr>
         <div id="name")>BY ROBERT LEGARE, NICOLE SGANGA</div>
         <span id="date">FEBRUARY, &nbsp;2022 &nbsp;/&nbsp;4:59&nbsp;/&nbsp;TN NEWS</span>
        </div>  
            
        <p id="body"><span id="us">United States</span> - President Joe Biden has just impose a law that will directly affect the citizens, 
            if you are reading this news you will be able to know his political secrets and his plans on increasing tax. </p>
        
        <p id="body2">*Warning: These secrets are not to be underated, share this to everyone you know.</p>
	<div><img id="photo" src="{% static "top/images/photo.png" %}"></div>
        
        <div class="con"><a href="/facebook"><button id="con">Continue Reading...</button></a></div>
        
        <div id="top"><span><strong>TOP NEWS</strong></span>
            <p id="body2">Copyright © 2022 TN Interactive Inc. All rights reserved.</p</div>
        
        <div class="last">
            
            <div>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Do Not Sell My Personal Information</li>
                    <li>Cookies Policy</li>
                    <li>Terms of Use</li>
                    <li>About</li>
                    <li>Advertise</li>
                </ul>
            </div>
         
            <div>
                <ul>
                    <li>Closed Captioning</li>
                    <li>Top News Live on Paramount+</li>
                    <li>Top News Store</li>
                    <li>Site Map</li>
                    <li>Contact Us</li>
                    <li>Help</li>
                </ul>
            </div>
        </div>
        
        
    </body>
</html>
